<!-- Services Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interests</h2>
                    <h3 class="section-subheading text-muted">What I think about when I think about science</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">               
                    <img class="center" src="img/research/A1.jpg" alt="" height="142" width="142">
                    <h4 class="service-heading">Forecasting</h4>
                    <p class="text-muted">How do we improve near-term and long-term forecasts and predict the future. Mostly weather, but really anything.</p>
                </div>
                <div class="col-md-4">
                    <img class="center" src="img/research/A2.jpg" alt="" height="142" width="152">
                    <h4 class="service-heading">Extreme weather</h4>
                    <p class="text-muted">One of the big risks of climate change. How do we accurate quantify current and future extremes? What are the impacts?</p>
                </div>
                <div class="col-md-4">
                    <img class="center" src="img/research/A3.jpg" alt="" height="142" width="152">
                    <h4 class="service-heading">AI</h4>
                    <p class="text-muted">How can we use the data we have, or the models we can develop to discover something new and make smarter decisions</p>
                </div>
                <div class="col-md-4">
                    <img class="center" src="img/research/A4.jpg" alt="" height="142" width="152">
                    <h4 class="service-heading">Communication</h4>
                    <p class="text-muted">How do we best communicate the impact of our results</p>
                </div>
            </div>
        </div>
    </section>
