<!-- Services Section -->
    <section id="Research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What I think about</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Antarctica</h4>
                    <p class="text-muted">Role of Antarctic Ice Sheet melt in the current and future climates, from ocean to atmospheres, and from physics to biology</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Climate models</h4>
                    <p class="text-muted">How good are the models we use? How can we improve them? Maybe we should use new observations!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Heat, Carbon and Oxygen</h4>
                    <p class="text-muted">These are the three big climate stressors for the ocean. Are they linked somehow?</p>
                </div>
            </div>
        </div>
    </section>
